.content {
  display: flex;
  flex-flow: column;
  width: calc(100vw - 300px);
  transition: 0.5s ease-in-out;
}

.content.sidebar-closed {
  width: calc(100vw - 80px);
}

.content section {
  padding: 20px;
  padding-left: 60px;
  overflow: hidden;
  min-height: 120px;
  border: 1px solid #ddd;
}

.content section:first-child {
  border-top: none;
}

.content section:last-child {
  border-bottom: none;
}

.content_page-title span {
  color: #778;
  font-size: 14px;
}

.content_page-title p {
  font-weight: 500;
  font-size: 22px;
}

.content_section.content_carrousel {
  padding-right: 0 !important;
}
