.sidebar {
  background-color: #ededed;
  color: #224;
  height: 100vh;
  width: 80px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.sidebar.sidebar-active {
  width: 300px;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  position: relative;
  list-style: none;
  margin-bottom: 10px;
}

.sidebar ul li img {
  width: 260px;
  margin: 0 20px;
  opacity: 0;
  transition: 0.2s ease;
}

.sidebar.sidebar-active ul li img {
  opacity: 1;
}

.sidebar ul li a {
  position: relative;
  text-decoration: none;
  color: #224;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.sidebar ul li a.active-link {
  background-color: var(--bg);
  color: #fafafa;
  font-weight: 500;
  border-radius: 0 10px 10px 0;
  box-shadow: 0px 5px 10px color-mix(in srgb, var(--bg) 30%, #000 15%);
}

.sidebar ul li a.active-link .sidebar_menu-icon::after {
  content: '';
  width: 15px;
  height: 15px;
  position: absolute;
  right: 40px;
  border-radius: 50%;
  background-color: #ffffff00;
  transition: 0.2s ease;
}

.sidebar.sidebar-active ul li a.active-link .sidebar_menu-icon::after {
  background-color: #ffffff66;
}

.sidebar ul li.sidebar_toggle,
.sidebar ul li a .sidebar_menu-icon {
  min-width: 80px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar ul li a .sidebar_menu-icon,
.sidebar ul li a .sidebar_menu-text {
  transition: 0.2s ease;
}

.sidebar ul li:hover a .sidebar_menu-icon,
.sidebar ul li:hover a .sidebar_menu-text {
  color: var(--bg);
}
.sidebar ul li:hover a.active-link .sidebar_menu-icon,
.sidebar ul li:hover a.active-link .sidebar_menu-text {
  color: #fafafa;
}
