<aside class="sidebar" [ngClass]="sidebarActive() ? 'sidebar-active' : ''">
  <ul>
    <li class="sidebar_toggle sidebar_small-logo" (click)="toggleMenu()">
      <mat-icon class="material-symbols-rounded">menu</mat-icon>
      <a class="hide-on-m-and-l">
        <img src="/assets/logo.png" alt="Logo">
      </a>
    </li>
    <li class="logo hide-on-s">
      <a routerLink="dashboard">
        <img src="/assets/logo.png" alt="Logo">
      </a>
    </li>
    <div class="sidebar_menu">
      <li style="--bg:#814cff">
        <a routerLink="dashboard" routerLinkActive="active-link">
          <div class="sidebar_menu-icon">
            <mat-icon class="material-symbols-rounded">dashboard</mat-icon>
          </div>
          <div class="sidebar_menu-text">
            Dashboard
          </div>
        </a>
      </li>
      <li style="--bg:#961D4E">
        <a routerLink="buy-sell" routerLinkActive="active-link">
          <div class="sidebar_menu-icon">
            <mat-icon class="material-symbols-rounded">sell</mat-icon>
          </div>
          <div class="sidebar_menu-text">
            Buy / Sell
          </div>
        </a>
      </li>
      <li style="--bg:#CA5310">
        <a routerLink="transactions" routerLinkActive="active-link">
          <div class="sidebar_menu-icon">
            <mat-icon class="material-symbols-rounded">currency_exchange</mat-icon>
          </div>
          <div class="sidebar_menu-text">
            Transactions
          </div>
        </a>
      </li>
      <li style="--bg:#BFAE48">
        <a routerLink="exchange" routerLinkActive="active-link">
          <div class="sidebar_menu-icon">
            <mat-icon class="material-symbols-rounded">sync</mat-icon>
          </div>
          <div class="sidebar_menu-text">
            Exchange
          </div>
        </a>
      </li>
      <li style="--bg:#4B8F8C">
        <a routerLink="tools" routerLinkActive="active-link">
          <div class="sidebar_menu-icon">
            <mat-icon class="material-symbols-rounded">settings</mat-icon>
          </div>
          <div class="sidebar_menu-text">
            Tools
          </div>
        </a>
      </li>
    </div>
  </ul>

  <div class="sidebar_darkmode" [ngClass]="isActive ? '' : 'hide-on-disabled_sidebar'">
    <div class="sun">
      <mat-icon class="material-symbols-rounded">light_mode</mat-icon>
    </div>
    <button (click)="toggleDark()" class="sidebar_darkmode-button"></button>
    <div class="moon">
      <mat-icon class="material-symbols-rounded" style="
        font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      ">
        dark_mode
      </mat-icon>
    </div>
  </div>

  <div class="sidebar_darkmode dark-button" [ngClass]="isActive ? 'hide-on-disabled_sidebar' : ''">
    <button (click)="toggleDark()">
      <div class="sun" *ngIf="!darkmode()">
        <mat-icon class="material-symbols-rounded">light_mode</mat-icon>
      </div>
      <div class="moon" *ngIf="darkmode()">
        <mat-icon class="material-symbols-rounded" style="
          font-variation-settings:
          'FILL' 1,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        ">
          dark_mode
        </mat-icon>
      </div>
    </button>
  </div>
</aside>
