<section class="content" [ngClass]="sidebar()">
  <section class="content_section" style="display: flex; align-items: end;">
    <div class="content_page-title">
      <p><span>Overview Dashboard</span></p>
      <p>Trading View</p>
    </div>
    <div class="content_menu-crypto">
      <ul>
        <li
          *ngFor="let coin of cryptoList"
          [style]="'--icon-color:' + coin.color"
          [ngClass]="isActive(coin.name)"
          (click)="setActive(coin.name)"
        >
          <i class="cc" [ngClass]="coin.icon"></i>
        </li>
      </ul>
    </div>
  </section>
  <section class="content_section content_carrousel">
    <drag-scroll [scrollbar-hidden]="true" class="content_cryptocards">
      <app-coin-card drag-scroll-item *ngFor="let coin of cryptoList; let i = index" [index]="i" [coin]="coin"></app-coin-card>
    </drag-scroll>
  </section>
</section>
